:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1024px;
  height: 778px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}
.figma-design-image {
  position: absolute;
  width: 21px;
  height: 792px;
  top: -17px;
  left: 1003px;
  background: rgba(0, 0, 0, 0);
  z-index: 160;
  overflow: hidden;
}
.root {
  position: absolute;
  height: 872px;
  top: 0;
  right: 0;
  left: 0;
  background: url(./assets/images/af8382a3-9514-46de-a364-6b32efa565f7.png)
    no-repeat center;
  background-size: cover;
  z-index: 161;
}
.root-1 {
  position: absolute;
  height: 778px;
  top: 0;
  right: 0;
  left: 0;
  background: #141414;
}
.groups {
  position: relative;
  width: 1024px;
  height: 78px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 140;
  overflow: visible auto;
}
.groups-2 {
  position: relative;
  width: 989px;
  height: 54px;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 141;
}
.text {
  position: absolute;
  width: 219px;
  height: 36px;
  right: 594px;
  bottom: 4px;
  background: rgba(0, 0, 0, 0);
  z-index: 154;
}
.groups-3 {
  position: absolute;
  width: 219px;
  height: 36px;
  right: 0;
  bottom: 0;
  background: url(./assets/images/9fee90586b069cc232af4eab7b55b434fec180cd.png)
    no-repeat center;
  background-size: cover;
  z-index: 155;
}
.image {
  position: absolute;
  width: 18px;
  height: 17px;
  right: 9px;
  bottom: 9px;
  background: url(./assets/images/af11ba9bfc802f571168bed94463a3b137503c78.png)
    no-repeat center;
  background-size: cover;
  z-index: 156;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 10px;
  right: 158px;
  bottom: 13px;
  color: #424242;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.image-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 194px;
  bottom: 10px;
  background: url(./assets/images/44b7433df67f82f937b23375f630ec2d48cad3f1.png)
    no-repeat center;
  background-size: cover;
  z-index: 158;
}
.image-5 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 24px;
  bottom: 6px;
  background: url(./assets/images/53652c6671a146d6764f28730e0dafcdb6445fd1.png)
    no-repeat center;
  background-size: cover;
  z-index: 142;
}
.wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 66px;
  height: 18px;
  right: 73px;
  bottom: 11px;
  color: #a3a3a3;
  font-family: Gothic A1, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  z-index: 143;
}
.neorvex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  right: 843px;
  bottom: 17px;
  color: #dfdfdf;
  font-family: Gothic A1, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 159;
}
.image-6 {
  position: absolute;
  width: 18px;
  height: 16px;
  right: 139px;
  bottom: 13px;
  background: url(./assets/images/ebd896bc037b4b6182abfd73f080235fbb6aaec8.png)
    no-repeat center;
  background-size: cover;
  z-index: 153;
}
.flex-row-ab {
  position: relative;
  width: 944px;
  height: 685px;
  margin: 12px 0 0 35px;
  z-index: 112;
}
.groups-7 {
  position: absolute;
  width: 111px;
  height: 664px;
  right: 833px;
  bottom: 21px;
  background: rgba(0, 0, 0, 0);
  z-index: 112;
}
.image-8 {
  position: absolute;
  width: 111px;
  height: 664px;
  right: 0;
  bottom: 0;
  background: #1a1a1a;
  filter: blur(5px);
  z-index: 113;
}
.groups-9 {
  position: relative;
  width: 106px;
  height: 29px;
  margin: 12px 0 0 3px;
  background: rgba(0, 0, 0, 0);
  z-index: 137;
  overflow: visible auto;
}
.image-a {
  position: relative;
  width: 13px;
  height: 12px;
  margin: 7px 0 0 67px;
  background: url(./assets/images/091620757f5a51056ac695fdbe5e30d45cd51a8a.png)
    no-repeat center;
  background-size: cover;
  z-index: 139;
}
.category {
  display: block;
  position: relative;
  height: 11px;
  margin: -10px 0 0 19px;
  color: #a3b88d;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  white-space: nowrap;
  z-index: 138;
}
.groups-b {
  position: relative;
  width: 107px;
  height: 29px;
  margin: -4px 0 0 3px;
  background: rgba(0, 0, 0, 0);
  z-index: 134;
}
.image-c {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 69px;
  bottom: 4px;
  background: url(./assets/images/167caf8e2abf198e638a23a33aa516b15277db3f.png)
    no-repeat center;
  background-size: cover;
  z-index: 135;
}
.living {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 9px;
  right: 41px;
  bottom: 8px;
  color: #717171;
  font-family: Inter, var(--default-font-family);
  font-size: 9px;
  font-weight: 400;
  line-height: 9px;
  text-align: left;
  white-space: nowrap;
  z-index: 136;
}
.groups-d {
  position: relative;
  width: 105px;
  height: 28px;
  margin: -5px 0 0 5px;
  background: rgba(0, 0, 0, 0);
  z-index: 131;
}
.image-e {
  position: absolute;
  width: 18px;
  height: 19px;
  right: 69px;
  bottom: 5px;
  background: url(./assets/images/ff55709bec0003232a6242a5516567540e8fb2d5.png)
}